<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'app' %}">
          <i class="fas fa-shield-alt"></i> WPCS
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'dns' %}active{% endif %}" href="{% url 'dns' %}">DNS</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'wordpress' %}active{% endif %}" href="{% url 'wordpress' %}">Wordpress</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'crm' %}active{% endif %}" href="{% url 'crm' %}">CRM</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'jobs' %}active{% endif %}" href="{% url 'jobs' %}">Job</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'file_upload' %}active{% endif %}" href="{% url 'file_upload' %}">Upload</a>
            </li>
          </ul>
      </div>
  </div>
</nav>